body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;             
    justify-content: center;   
    height: 100vh;  
}
.wrapper {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;   
    padding: 15px;   
}   
header{
    margin-top: 20px;
    margin-bottom: 40px;
}
.logo{
    margin-bottom: 10px;
}
.logo a{
    color: #343434;
    font-size: 30px;
    text-decoration: none; 
}
.desktop-menu a {
    color: #343434;
    font-size: 17px;
    margin-right: 14px; 
}
.posts {
    list-style-type: none;  
    padding: 0;
}

.posts li {
    margin-bottom: 20px; 
    font-size: 20px; 
}

.posts a {
    text-decoration: none; 
    color: black; 
}

.posts a:hover{
    text-decoration: underline;
}

.posts li {
    text-align: left; 
}

.post-date {
    display: block; 
    font-size: 14px; 
    color: #343434; 
    margin-top: 5px; 
}

.title {
    font-size: 25px;  
}

.year-block {
    margin-top: 16px;
    text-align: left; 
}

.year {
    font-size: 20px;
    display: block; 
    margin-bottom: 14px; 
}

ul {
    padding-left: 16px; 
    margin-top: 0; 
}

ul li a {
    font-size: 18px;
    text-decoration: none; 
    color: #343434;
}

ul li a:hover{
    text-decoration: underline;
}